.Signet{
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}
.info{
    font-size: 1.2em;
    
  
}
img{
    width: 100%;
}
.titre{
    padding: 5px;
    font-size: 1.4em;
}
.dateDeModification{
    padding: 5px;
}
.SortIcon{
    position: relative;
    top: -300px;
    left: -100px;
    color: white;
}
.More{
    position: relative;
    right: -120px;
    color: white;
}